.hero-section {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.herocontent {
    position: relative;
    width: 100%;
    text-align: center;
}
.bg{
    width: 100%;
    height: auto;
    opacity: 0.2;
}
.herotextdiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}
.herotext{
    font-family: "Orbitron", sans-serif;
    font-weight: bold;
    font-size: 96px;
    width: 100%;
    text-align: center;
    padding-top: 75px;
    text-align: center;
}
.herotext > span{
    font-family: "Orbitron", sans-serif;
}
.heroparagraph{
    font-size: 24px;
    font-weight: 200;
    width: 40%;
    text-align: center;
    margin-top: 70px;
}
.herobuttondiv{
    display: flex;
    gap: 20px;
    margin-top: 60px;
}
.getstartedbutton{
    padding: 10px 20px;
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid black;
}